bin
obj
Thumbs.db
*.~lock*
#Ignore files build by Visual Studio
*.obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
[Bb]in
[Oo]bj
[Tt]est[Rr]esults
*.suo
*.user
*.[Cc]ache
*[Rr]esharper*
packages
#NuGet.exe
_[Ss]cripts
*.nupkg
*.ncrunchsolution
*.dot[Cc]over
*.dot[Cc]over
/.vs
